.container {
 
  text-align: center;

margin-top: 20px;
 


 


}

#header {
  background-color: rgb(239, 136, 41);
  
  color: #ffffff;

    height:150px;
     width:100%;
     border-radius: 200px 200px 0 0;
     border-bottom: 10px solid rgb(165, 230, 49);
    
     
}

body {
  text-align: center;

}
#mainDiv1 {
  background-color: rgb(117,71, 39);
 
  min-height: 30opx;
  max-height: 300px;
  overflow: scroll;
  text-align: left;

  
}

#mainDiv2 {
  background-color: rgb(117,71, 39);

  min-height: 300px;
  max-height: 300px;
  overflow: scroll;
  text-align: right;

}


#form{
  border-top: 10px solid rgb(165, 230, 49);
  background-color: rgb(239, 136, 41);
  
  height: 100px;
  margin-left: -14px;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


::-webkit-scrollbar { 
  display: none; 
}


.burger{
  width: 50%;
  margin: auto auto;
}

#fries{
  width: 20%;
  float: left;
  height: 300px;
  margin-top: 130px;
}

#soda{
  width: 20%;
  float: right;
  height: 300px;
  margin-top: 130px;
}

#mainDiv{
  width: 100%;
  border-top: 10px solid rgb(246, 2, 24);
  border-bottom: 10px solid yellow;
  color: #ffffff;
  font-size: 20px;

  
}

#burgerText{
 font-weight: bold;
 font-size: 50px;
 margin-top: 20px;
}
#burgertag{
  font-style: italic;
  font-size: 20px;
}


.subHead{
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#burgerGif{
 

 position: absolute;
  clip-path: circle(30px at center);
  top: 255px;
  right: 250px;


  border: 1px solid black;

}

